.Phonetic {
  margin-bottom: 10px;
  .btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    font-size: 22px;
    padding: 0;
    border: 1px solid #dadce0;
    margin-right: 15px;
    &:hover,
    &:active {
      border: 1px solid #11b3d7;
      color: #11b3d7;
    }
    svg {
      margin-top: -4px;
    }
  }
  span {
    opacity: 0.7;
  }
}
